body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 1rem;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.card {
  width: calc(33% - 2rem);
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: #fafafa;
  border: 1px solid black;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 576px) {
  .card {
    width: 100%;
  }
  header {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 992px) {
  .card {
    width: calc(50% - 2rem);
  }
}
