.square-button {
  font-family: 'poppins', sans-serif;
  font-size: var(--body-medium);
  cursor: pointer;
  border: none;
  color: white;
  background-color: var(--orange-color);
  border-radius: 6px;
  padding: 1rem 2rem;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.rounded-button {
  font-family: 'poppins', sans-serif;
  font-size: var(--body-medium);
  border: none;
  color: white;
  background-color: var(--orange-color);
  border-radius: 9999px;
  padding: 1rem 2rem;
  width: fit-content;
}

.opacity-button {
  font-family: 'Rubik', sans-serif;
  font-size: var(--body-large);
  border: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 10px;
  padding: 8px 32px;
  line-height: 187.5%;
}
